asgiref==3.3.1
beautifulsoup4==4.9.3
Brotli==1.0.9
certifi==2020.12.5
chardet==3.0.4
Django==3.1.12
django-appconf==1.0.4
django-htmlmin==0.11.0
django-imagekit==4.0.2
django-markdownx==3.0.1
docutils==0.16
html5lib==1.1
idna==2.10
Markdown==3.0.1
markdown-checklist==0.4.3
markdown-katex==202009.1026
markdown-markup-emoji==0.2.2
MarkdownHighlight==0.1.3
MarkdownSubscript==2.1.1
MarkdownSuperscript==2.1.1
mod-wsgi==4.7.1
mysqlclient==2.0.1
pathlib2==2.3.5
pilkit==2.0
Pillow==8.3.2
Pygments==2.7.4
python3-memcached==1.51
pytz==2020.4
requests==2.25.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
urllib3==1.26.5
webencodings==0.5.1
whitenoise==5.2.0
